[Desktop Entry]
Name=CosmicBWarden
Comment=Secure Bitwarden client for COSMIC
Exec=cosmic-applet-bwarden
Icon=password-manager-symbolic
Terminal=false
Type=Application
Categories=Cosmic;Utility;Security;
Keywords=Cosmic;Panel;Applet;Bitwarden;Password;
OnlyShowIn=COSMIC;
StartupWMClass=com.enikeev.cosmic-bwarden
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
